In [26]:
import requests # import library untuk API Call (HTTP Call)

#### GET Request

In [4]:
data = requests.get('https://ravenclaw-services.herokuapp.com/test')
data.json()

{'message': 'This is encrypted lagi: 3e8a9952527e6d60a02d1dd53b97b2484cb1f6d5a21c3c7feb241054ab7eed50bd4f0f1fe5586cb0a6968c7fbb0aed12ce00a9f0a7787ed6dfd632134d2fe583'}

In [80]:
data = requests.get(
    'https://ravenclaw-services.herokuapp.com/CRUD/admin/lihat-data-pengajuan')
pd.DataFrame(data.json())

,order_id,username,name,divisi,aktivitas,due_date,bsu_fix,status
0,DEV-20220830-1664950507,hanggoro,Hanggoro Feriawan,DEVOPS,Pengajuan service AWS S3 1 Tera per month,2022-08-30,4.000000e+08,PENDING
1,DEV-20220518-1664950531,hanggoro,Hanggoro Feriawan,DEVOPS,Pengajuan laptop macbook 100 unit untuk divisi...,2022-05-18,3.000000e+10,PENDING
2,ITA-20221111-1664955112,anhar,Anhar,ITAIS,"Pengajuan penutupan Data Center, dan migrasi k...",2022-11-11,1.500000e+09,PENDING

#### POST Request

##### REGISTRATION

In [143]:
payload = {
    'name': 'Violyn Agustin',
    'username': 'madam_vio',
    'password': 'sukapisang69',
    'role': 'admin',
    'divisi': 'ITSG'
}


data = requests.post('https://ravenclaw-services.herokuapp.com/CRUD/reg', json=payload)
data.json()

{'registration_status': 'success'}

##### LOGIN

if user_name not registered

In [11]:
payload = {
    'user_name': 'hafidz',
    'password': 'hehehehe',
}

data = requests.post('https://ravenclaw-services.herokuapp.com/CRUD/login', json=payload)
data.json()

{'login_status': 'failed', 'msg': 'wrong user_name'}

if user_name is registered but password is wrong

In [32]:
payload = {
    'username': 'hanggoro',
    'password': 'hehehehe',
}

data = requests.post(
    'https://ravenclaw-services.herokuapp.com/CRUD/login', json=payload)
data.json()

{'login_status': 'failed', 'msg': 'wrong password'}

if everything is success

In [110]:
payload = {
    'username': 'hanggoro',
    'password': 'devopsvp11',
}

data = requests.post(
    'https://ravenclaw-services.herokuapp.com/CRUD/login', json=payload)
data.json()

{'login_status': 'success',
 'data': {'name': 'Hanggoro Feriawan',
  'username': 'hanggoro',
  'role': 'client',
  'divisi': 'DEVOPS'}}

##### Form Pengajuan

In [108]:
payload = {
    'username': 'hanggoro',  # disabled dan tidak muncul di form
    'name': 'Hanggoro Feriawan',  # disabled
    'divisi': 'DEVOPS',  # disabled
    'aktivitas': 'Pengajuan jasa vendor untuk develop POSPAY superapp',
    'due_date': '2023-05-10',
    'bsu_fix': 400000000,
}
payload

{'username': 'hanggoro',
 'name': 'Hanggoro Feriawan',
 'divisi': 'DEVOPS',
 'aktivitas': 'Pengajuan jasa vendor untuk develop POSPAY superapp',
 'due_date': '2023-05-10',
 'bsu_fix': 400000000}

In [138]:


payload = {
    'username': 'anhar', # disabled dan tidak muncul di form
    'name': 'Anhar',  # disabled
    'divisi': 'ITAIS', # disabled
    'aktivitas': 'Pengadaan Penyediaan ENDPOINTSECURITY',
    'due_date': '2023-05-24',
    'kategori': 'CAPEX',
    'bsu_fix': 8000000,
}

data = requests.post(
    'https://ravenclaw-services.herokuapp.com/CRUD/client/form-pengajuan', json=payload)
test = data.json()
test

{'status': 'success'}

In [128]:
test['data2']

{'username': 'hanggoro',
 'name': 'Hanggoro Feriawan',
 'divisi': 'DEVOPS',
 'aktivitas': 'Pengajuan service AWS S3 1 Tera per month',
 'due_date': '2022-08-30',
 'bsu_fix': 400000000.0}

In [139]:

payload = {
    'username': 'hanggoro'
}
data = requests.post(
    'https://ravenclaw-services.herokuapp.com/CRUD/client/lihat-data-pengajuan', json=payload)
df = data.json()

In [140]:
df

[{'order_id': 'DEV-1664961432',
  'name': 'Hanggoro Feriawan',
  'divisi': 'DEVOPS',
  'aktivitas': 'Pengadaan Jasa Sewa Cloud Azure',
  'due_date': '2023-05-30',
  'kategori': 'OPEX',
  'status': 'PENDING',
  'bsu_fix': 6000000.0},
 {'order_id': 'DEV-1664961706',
  'name': 'Hanggoro Feriawan',
  'divisi': 'DEVOPS',
  'aktivitas': 'Pembelian Perangkat IT, MACBOOK AIR M2 sejumlah 100 unit',
  'due_date': '2023-04-19',
  'kategori': 'CAPEX',
  'status': 'PENDING',
  'bsu_fix': 14000000.0},
 {'order_id': 'DEV-1664961784',
  'name': 'Hanggoro Feriawan',
  'divisi': 'DEVOPS',
  'aktivitas': 'Implementasi Robotics Process Automation(RPA) pada proses rekonsiliasi SGLK',
  'due_date': '2023-05-23',
  'kategori': 'CAPEX',
  'status': 'PENDING',
  'bsu_fix': 17000000.0}]

In [142]:
import pandas as pd
pd.DataFrame(df)

,order_id,name,divisi,aktivitas,due_date,kategori,status,bsu_fix
0,DEV-1664961432,Hanggoro Feriawan,DEVOPS,Pengadaan Jasa Sewa Cloud Azure,2023-05-30,OPEX,PENDING,6000000.0
1,DEV-1664961706,Hanggoro Feriawan,DEVOPS,"Pembelian Perangkat IT, MACBOOK AIR M2 sejumla...",2023-04-19,CAPEX,PENDING,14000000.0
2,DEV-1664961784,Hanggoro Feriawan,DEVOPS,Implementasi Robotics Process Automation(RPA) ...,2023-05-23,CAPEX,PENDING,17000000.0